{% extends 'home/home.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Login{% endblock %}

{% block title %}
    <h2>Login</h2>
{% endblock %}

{% block content %}
    <div class="col-md-4">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-inverse" type="submit">Login</button>
        </form>
    </div>

{#    <div>#}
{#        <a href="{% url 'account:password_reset' %}">Did you forget your password?</a>#}
{#    </div>#}
{% endblock %}
