{% load staticfiles %}
{% load api_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block head_title %}WikiWho{% endblock %}</title>
    <meta name="description"
          content="WikiWho - an algorithm to identify the revision origin of - and all changes ever applied to - the tokens of a revisioned Wiki document. This enables, e.g., detecting authorship and editor interactions. WikiWho API provides provenance and change information about the tokens a Wikipedia article consists of.">
    <meta name="robots" content="index, follow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block style %}
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
            .navbar .brand {
                padding: 5px 20px 5px;
                margin-left: -20px;
            }
        </style>
    {% endblock style %}
    {% block extra_style %}
    {% endblock extra_style %}
{#    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">#}
    <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16" />

{#    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">#}
{#    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">#}
{#    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">#}
{#    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">#}
{#    <link rel="shortcut icon" href="../assets/ico/favicon.png">#}
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img alt="WikiWho" width="60" src="{% static 'images/logo_white.png' %}">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_superuser %}
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
            {% ww_api_version as ww_version_url %}
            {% wc_api_version as wc_version_url %}
    {#                        <li class="active"><a href="{% url 'api:swagger' 'v1.0.0-beta' %}">API</a></li>#}
            <li><a href="{% url 'api:swagger' ww_version_url %}">API</a></li>
            <li><a href="{% url 'whocolor:swagger' wc_version_url %}">WhoColor API</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            {% if request.user.is_authenticated %}
    {#                        <li>Hello {{ request.user }}</li>#}
            <li><a href="{% url 'account:detail' %}">My Account</a></li>
            <li><a href="{% url 'account:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'account:login' %}">Login</a></li>
            <li><a href="{% url 'account:register' %}">Register</a></li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% load i18n %}
                {% load url_translation %}
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <li><a href="{% translate_url language.code %}">{{ language.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <div class="page-header">
        {% block title %}
            <h1>Welcome to the WikiWho server</h1>
        {% endblock title %}
        </div>
        <div class="row">
        {% block content %}
            <div class="col-md-12">
            <p>
                <a href="https://github.com/wikiwho/WikiWho" target="_blank">WikiWho algorithm</a>
                <br>
                <a href="{% url 'api:swagger' ww_version_url %}">WikiWho API</a>
            </p>
            <p>
                <a href="https://github.com/wikiwho/WhoColor">WhoColor source code</a>
                <br>
                <a href="{% url 'whocolor:swagger' wc_version_url %}">WhoColor API</a>
            </p>
            {% comment %}TODO
                Explanation how wikiwho works?
                Documentation how to use wikiwho algorithm?
            {% endcomment %}
            </div>
        {% endblock content %}
        </div>

    </div> <!-- /container -->

    {% block scripts %}
{#    <script src="http://code.jquery.com/jquery.js"></script>#}
    <script src="{% static 'scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    {% endblock scripts %}

    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>