.idea/
.cache
*.pyc
*.sqlite3

wikiwho_api/settings.py

master_old_test/
tests_ignore/
wikiwho/tests/tmp_test_3/
wikiwho/tests/tmp_test/
assets/images/fav/
tmp_pickles/
static/
notebooks/ipython_log.py
notebooks/ignore
.ipynb_checkpoints/
.well-known
flower.db