.idea/
.cache
*.pyc
*.sqlite3
assets/images/fav/
env
# all collected static files
static/

# django settings
wikiwho_api/settings.py
wikiwho_api/settings_test.py
wikiwho_api/settings_testenv.py

# local
master_old_test/
tmp_pickles/
cron/ignore

# test output folders
tests_ignore/
wikiwho/tests/tmp_test_3/
wikiwho/tests/tmp_test/

# nginx
.well-known

# celery flower
flower.db
flower.bak
flower.dat
flower.dir

# wikiwho notebooks repo
wikiwho_notebooks
