.idea/
.cache
*.pyc
*.sqlite3

wikiwho_api/settings.py

wikiwho/local/
wikiwho/tmp_test/
wikiwho/tmp_test_3/
master_old_test/
test_jsons
test_jsons_without_fixed_deepcopy
assets/images/fav/
tmp_pickles/
static/
Wikiwho_simple.py
structuresML/