# Runs on python 3.5.2

#coreapi==2.3.3
#coverage
#django-admin-tools
#django-admin-tools-stats
#django-filter
#django-guardian
#django-postgres-copy
#drfdocs
#drf-tracking
#fabric
#mediawiki-utilities
#pytz==2017.3

architect==0.5.6
celery==4.3.0

django-cors-headers==2.5.2
django-crispy-forms==1.7.2
django-crontab==0.7.1
django-extensions==2.1.6
django-registration==3.1.2
django-rest-swagger==2.1.2
Django<2.0
djangorestframework==3.9.2

drf-extensions==0.4.0
Fabric3==1.14.post1
flower==0.9.3
future==0.17.1
gunicorn==19.9.0
lxml==4.3.3
Markdown==3.1
mwpersistence==0.2.4
mwreverts==0.1.5
mwxml==0.3.3
openpyxl==2.6.2
psycopg2==2.7.3.2

pytest-django==3.1.2
pytest-xdist==1.28.0
#pytest==3.3.0 # in production but triggers warnings
pytest==3.2.0
python-dateutil==2.8.0
python-memcached==1.59

requests==2.21.0
six==1.12.0
sseclient-py==1.5
urllib3==1.24.1

WhoColor==1.0.1
WikiWho==1.0.3

-e git+git@github.com:gesiscss/wikiwho_chobj.git#egg=wikiwho_chobj
# Elasticsearch 7.x
elasticsearch-dsl>=7.0.0,<8.0.0

#for oAuth
requests-oauthlib==1.3.0
