# django-postgres-copy
# drf-tracking
# to avoid addCall Warning
#coreapi
#coverage
#django-admin-tools
#django-admin-tools-stats
#django-crispy-forms
#django-filter
#django-guardian
#drfdocs
#fabric
#mediawiki-utilities
#pytz

architect
celery

django-cors-headers
django-crispy-forms
django-crontab
django-extensions
django-registration==3.1.2
django-rest-swagger==2.1.2
Django<2.0
djangorestframework

drf-extensions
fabric3
flower
future
futures
gunicorn
lxml
markdown
mwpersistence
mwreverts
mwxml
openpyxl

psycopg2==2.7.3.2
pytest-django==3.1.2
pytest-xdist
pytest==3.2.0
python-dateutil
python-memcached
requests
six
sseclient-py==1.5
urllib3

WhoColor
WikiWho