Django
future
six
requests
#pytest
pytest-django
pytest-xdist
#coverage
openpyxl
lxml
futures
# TODO add wikiwho_simple as a package

djangorestframework
#coreapi
markdown
#django-filter
#django-crispy-forms
#django-guardian
django-rest-swagger
#drfdocs
python-memcached
drf-extensions

#django-admin-tools
#django-admin-tools-stats

django-extensions
psycopg2

mediawiki-utilities
# pathos