{% extends 'home/home.html' %}

{% block extra_style %}
    <style>
        ul {
            list-style: none;
        }
    </style>
{% endblock extra_style %}

{% block title %}
    <h2>
        Contact/Imprint
    </h2>
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <h3>Contact us</h3>
        <p>
            Our Email: <br>
            wikiwho(at)gesis(dot)org
        </p>
        <p>
            <br>
            <h4>Main contact for WikiWho: </h4>
            <br>
            Dr. Fabian Flöck <br>
            GESIS – Leibniz Institute for the Social Sciences <br>
            CSS Department <br>
            Unter Sachsenhausen 6-8 <br>
            50667 Cologne <br>
        
        <h3>Imprint and data privacy terms:</h3>
        As wikiwho.net is a service by GESIS, the imprint and terms of use from GESIS.org apply here as well:
        <a href="https://www.gesis.org/institut/impressum/" target="_blank">German version</a>
        <a href="https://www.gesis.org/en/institute/imprint/" target="_blank">English version</a>
        
    </div>
{% endblock %}
