{% extends 'home/home.html' %}

{% block title %}
    <h2>
    Contact
    </h2>
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <p>
            <a href="mailto:fabian.floeck@gesis.org?cc=kenan.erdogan@gesis.org" target="_top">Send an email to WikiWho</a>
    {#        <a href="mailto:fabian.floeck@gesis.org" target="_top">Send email to Fabian Flöck</a>#}
    {#        <br>#}
    {#        <a href="mailto:kenan.erdogan@gesis.org" target="_top">Send email to Kenan Erdogan</a>#}
        </p>
    </div>
{% endblock %}
